name: Publish Package

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Build & Publish
        run: |
          cd packages/server
          npm install && npm run build
          mkdir dist/public

          cd ../../packages/client
          npm install && npm run build
          cp -r dist/* ../../packages/server/dist/public/

          cd ../../packages/server
          cp ../../README.md ./
          npm pack
          npm publish
