name: Publish Package

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Build & Pack
        run: |
          cd packages/server
          npm install && npm run build
          mkdir dist/public

          cd ../client
          npm install && npm run build
          cp -r dist/. ../server/dist/public/

          cd ../server
          ls -R dist
          cp ../../README.md ./
          npm pack          

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtcping-${{ matrix.os }}-${{ matrix.arch }}
          path: *.tgz

      - name: Publish
        run: npm publish *.tgz
